.type {
    display: flex;
    align-items: center;
    padding: 0 2.777vw;
    height: 3.4722vw;
    box-sizing: border-box;
    width: 12.91vw;
}

.type:hover {
    background: #F7F8FA;
    border-radius: 0px 100px 100px 0px;
}

.type img {
    margin-right: 1.041vw;
}

.typeName {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #566474;
}

.active .typeName {
    color: #445EE2;
}

.type.active {  
    background: #F7F8FA;
    border-radius: 0px 100px 100px 0px;
}